@use "../helpers" as *;

html {
  &.is-lock {
    overflow: hidden;
  }
  @include mobile {
    max-width: 100vw;
    overflow-x: hidden;
  }
}

body {
  @include fluid-text(16, 14);

  font-family: "Open Sans", sans-serif;
  line-height: 1.15;
  font-weight: 400;
  color: var(--foreground);
  background-color: var(--background);
  @include mobile {
    max-width: 100vw;
    overflow-x: hidden;
  }
}

.app-template {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  &__page {
    padding-block: fluid(32, 24);
  }
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: hsl(var(--primary));
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rem(2) dashed var(--input);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}
