@use "../helpers" as *;

.calculator-form {
    width: 100%;
    display: grid;
    row-gap: fluid(32,18);
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: rem(16);
        @include mobile {
            grid-template-columns: 1fr;
        }
    }
    &__group {
        width: 100%;
        display: grid;
        row-gap: fluid(24, 16);
        place-self: start;
        &:is(&--span-1) {
            grid-column: 1 span;
            @include mobile {
                grid-column: unset;
            }
        }
        &:is(&--span-2) {
            grid-column: 2 span;
            @include mobile {
                grid-column: unset;
            }
        }
    }
    &__section {
        padding: fluid(32, 16);
        display: grid;
        row-gap: fluid(18);
        background-color: var(--muted);
        border: rem(1) solid var(--border);
        border-radius: var(--radius);
        &-body {
            display: grid;
            row-gap: rem(14);
        }
        &-label {
            @include fluid-text(18, 16);

            font-weight: 500;
            color: var(--muted-foreground);
        }
        &-group {
            display: flex;
            gap: rem(16);
            @include mobile {
                flex-direction: column;
            }
        }
    }
    &__field {
        flex: 1;
    }
    &__button {
        place-self: start;
        @include mobile {
            width: 100%;
        }
    }
}